langchain==0.0.310
langchain-experimental==0.0.23
ipykernel
python-dotenv
langchain_community
pypdf
langchain-text-splitters
langchain-community
langchain_huggingface
faiss-cpu
streamlit
langchain_groq

